<h2><%= @message.title %> </h2>

<p>
  <%= @message.body %>
</p>

<form method="get">
  <%= auth_token %>

  <input type="submit" name="accept" value="Accept" />

  <input type="submit" name="reject" value="Reject" />
</form>
