<html>
<head>

</head>

<body>
  <main class="content group">

    <section class="content-sidebar">
      <ul class="nav">
        <li><a href="<%= new_personal_url %>">Create Ad</a></li>
        <li><a href="#">Search Ads</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Chat</a></li>
      </ul>
    </section>

  </main>


</body>

</html>
