/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="textarea"],
 button {
   background: #ccc;
   border: 1px solid white;
   color: black;

 }

 button,
 input[type="submit"] {
   cursor: pointer;
   background: white;
   color: black;

   font-weight: bold;
   border: 1px solid: #C86E14;
   border-radius: 5px;
   text-align: center;
   padding: 2px;

 }


 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: black;
  color: white;
}

.title{
  font-size: 36px;
  text-align: center;
}

.header{
  background: #3B3A39;
  border-bottom: 1px solid #C86E14;
  display: block;
}

.header-content{
  float: right;

}
.header-sign-out{
  float: left;
}

.page-title{
  font-size: 24px;
  text-align: center;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #C86E14;
  border-right: 1px solid #C86E14;
  border-bottom: 1px solid #C86E14;

}

.content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 240px;
  width: 1px;
  background: #ccc;
}

.content-sidebar {
  float: left;
  width: 200px;
  padding: 20px;
  border-right: 1px solid #C86E14;
  border-bottom: 1px solid #C86E14;

}

.personal {
float: right;
padding: 10px;
width: 150px;
height: 200px

}

.info{
  background: #ccc;
  color: black;
  border: 1px solid #C86E14;
}

.ad-title{
  font-size: 20px;
  text-align: center;
}

.ad--body{
  background: white;
  color: black;
  border-left: 1px solid #C86E14;
  border-right: 1px solid #C86E14;
  border-bottom: 1px solid #C86E14;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
